<?xml version="1.0" ?>

<robot name="mounted_camera" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="mounted_camera" params="prefix">


    <!-- AIMS Lab Custom Camera Mount -->
    <link name="${prefix}mount_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://tic_tac_toe/meshes/visual/link_4_r_camera_mount.stl"/>
            </geometry>
            <material name="white">
              <color rgba="0.9 0.9 0.9 1" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://tic_tac_toe/meshes/collision/link_4_r_camera_mount.stl"/>
            </geometry>
        </collision>
    </link>


    <!-- Camera -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" />
    <xacro:arg name="use_nominal_extrinsics" default="false"/>

    <link name="tool0_camera" />

    <xacro:sensor_d435i parent="tool0_camera" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:sensor_d435i>


    <!-- Locating: Camera mounted on lower side of Link R. Reference frame along link centerline. -->
    <joint name="mount_link-tool0_camera" type="fixed">
        <origin xyz="0.02195 0 -0.0535" rpy="0 ${pi/2} 0"/>
        <parent link="mount_link"/>
        <child link="tool0_camera"/>
    </joint>

</xacro:macro>
</robot>