<?xml version="1.0" ?>

<robot name="robot_mh5l_d435i" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="robot_mh5l_d435i" params="prefix">

    <!-- Robot -->
    <xacro:include filename="$(find motoman_mh5_support)/urdf/mh5l_macro.xacro" />

    <xacro:arg name="use_nominal_extrinsics" default="false" />
    <!-- d435i Camera -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro" />

    <!--Camera Mount -->
    <xacro:include filename="$(find realsense2_description)/urdf/mount_macro.xacro" />

    
    <!-- Build Kinematic Chain using imported components -->
    <xacro:motoman_mh5l prefix=""/>

    <xacro:sensor_d435i parent="camera_base_link" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:sensor_d435i>

    <xacro:camera_mount prefix=""/>

    <link name="camera_base_link" />

    <joint name="link_4_r-mount_link" type="fixed">
        <!--origin xyz="0.33 0 -0.09" rpy="0 ${pi/2} 0"/-->
        <origin xyz="0 0 0 " rpy="0 0 0"/>
        <parent link="link_4_r"/>
        <child link="mount_link"/>
    </joint>

    <joint name="mount_link-camera_base_link" type="fixed">
        <origin xyz="0.31 0 0.038" rpy="0 ${pi/2} 0"/>
        <parent link="camera_base_link"/>
        <child link="mount_link"/>
    </joint>

</xacro:macro>
</robot>