<?xml version="1.0" ?>

<robot name="robot_mh5l_d435i_pgn64_table" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Robot + Camera + gripper + table-->
    <xacro:include filename="$(find tic_tac_toe)/urdf/mh5l_d435i_pgn64_table_macro.xacro" />
    <xacro:robot_mh5l_d435i_pgn64_table prefix=""/>

</robot>