<?xml version="1.0" ?>

<robot name="robot_mh5l_d435i" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="robot_mh5l_d435i" params="prefix">

    <!-- Robot -->
    <xacro:include filename="$(find motoman_mh5_support)/urdf/mh5l_macro.xacro" />

    <!--Camera Mount -->
    <xacro:include filename="$(find tic_tac_toe)/urdf/d435i_mount_macro.xacro" />

    
    <!-- Build Kinematic Chain using imported components -->
    <xacro:motoman_mh5l prefix=""/>

    <xacro:mounted_camera prefix=""/>

    <joint name="link_4_r-robot_mount" type="fixed">
        <!--origin xyz="0.33 0 -0.09" rpy="0 ${pi/2} 0"/-->
        <origin xyz="0.31 0 -0.051 " rpy="${pi/2} 0 0"/>
        <parent link="link_4_r"/>
        <child link="robot_mount"/>
    </joint>

</xacro:macro>
</robot>