<?xml version="1.0" ?>

<robot name="robot_mh5l_d435i_pgn64_table" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="robot_mh5l_d435i_pgn64_table" params="prefix">
    
    <!-- Robot w/ table and gripper --><!-- Pulled from AIMS-ROBOT-ALL Metapackage -->
    <xacro:include filename="$(find mh5l_table)/urdf/mh5l_pgn64_table_macro.xacro" />
    <xacro:robot_mh5l_pgn64_table prefix=""/>
    
    
    <!--Camera w/ Mount -->
    <xacro:include filename="$(find tic_tac_toe)/urdf/d435i_mount_macro.xacro" />
    <xacro:mounted_camera prefix=""/>
    
    
    <!-- Join imported components -->
    <joint name="link_4_r-mount_link" type="fixed">
        <origin xyz="0.31 0 -0.051 " rpy="0 0 0"/>
        <parent link="link_4_r"/>
        <child link="mount_link"/>
    </joint>
    
</xacro:macro>
</robot>