<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="camera_mount" params="prefix">

<!-- AIMS LAB Custom Camera Mount URDF -->

    <link name="${prefix}mount_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://tic_tac_toe/meshes/camera_mount_small.stl"/>
            </geometry>
            <material name="white">
              <color rgba="0.9 0.9 0.9 1" />
            </material>

        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://tic_tac_toe/meshes/camera_mount_small.stl"/>
            </geometry>
        </collision>
    </link>
    <link name="robot_mount" />
 <!-- robot mount Defined as the center point between screw tips -->
    <joint name="${prefix}robot_mount-mount_link" type="fixed">
        <origin xyz="-0.013 -0.0664 -0.0375" rpy="0 0 0"/>
        <parent link="${prefix}robot_mount"/>
        <child link="${prefix}mount_link"/> 
    </joint>

</xacro:macro>
</robot>