<?xml version="1.0" encoding="utf-8"?>
<launch>

    <!-- Launch Camera Topics -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

    <!-- Setup Node for 'Board-TF-Publisher' -->
    <node pkg="tic_tac_toe" type="board_tf_publisher.py" name="board_tf_publisher" output="screen" />
    
     <!-- Open RQT for analysis with a custom perspective -->
    <node name = "RQT_TestViewer" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" 
        args = "--perspective-file $(find tic_tac_toe)/test/test_static_image.perspective"/>

</launch>