<?xml version="1.0" encoding="utf-8"?>
<launch>

    <!-- Launch Camera Topics -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="align_depth" value="true"/>
        <arg name="enable_pointcloud" value="true"/>
        <!-- <arg name="mode" value="manual"/> -->
    </include>

    <!-- Setup Node for 'Board-TF-Publisher' -->
    <node pkg="tic_tac_toe" type="camera2board_tf_publisher.py" name="camera2board_tf_publisher" output="screen" />
    <!--node pkg="tic_tac_toe" type="tile_locations_publisher.py" name="tile_locations_publisher" output="screen" /-->  

    <!-- Publish Transform from "camera_link" to camera mount to correct frame convention disagreements. -->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.34445 0.0175 -0.1151 0 1.5707963 0 link_4_r camera_link 100" />   
     <!-- Open RQT for analysis with a custom perspective -->
    <node name = "RQT_TestViewer" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" 
        args = "--perspective-file $(find tic_tac_toe)/config/test_static_image.perspective"/>

</launch>