<launch>

  <!-- TF Listener & Publisher for the Transform between Origin and Camera -->
  <include file="$(find maze-runner)/launch/tf_camera_transform_listener.launch" />

  <!-- RVIZ Launch & Config -->
  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
    args="-d $(find maze-runner)/config/moveit.rviz" output="screen">
  </node>



</launch>